.suggestion-container {
    cursor: pointer;
    box-sizing: border-box;
    padding: 1px 10px;
    height: 2rem;
    width: 50%;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.suggestion-container:hover {
    background-color: #f3f3f3;
}

.searchbar-input {
    border: 1px solid #cbc9c9;
    height: 2rem;
    outline: none;
    box-sizing: border-box;
    padding: 1px 10px;
    transition: 0.2s ease-in-out;
    width: 50%;
}

.searchbar-input:focus {
    border: 1px solid blue;
    transition: 0.2s ease-in-out;
}